---
import Layout from "@/layouts/Layout.astro";
import BlogReel from "@/components/BlogReel.astro";
import { getCollection } from "astro:content";
import BlogTag from "@/components/ui/BlogTag.astro";
import { slugifyStr } from "@/utils/Slugify";

const allPosts = await getCollection("blog");

// Step 1: Count how many posts per tag
const tagCounts = allPosts.reduce(
    (acc, post) => {
        (post.data.tags || []).forEach((tag) => {
            acc[tag] = (acc[tag] || 0) + 1;
        });
        return acc;
    },
    {} as Record<string, number>,
);

// Step 2: Get all tags sorted by count descending
const allTags = Object.keys(tagCounts).sort(
    (a, b) => tagCounts[b] - tagCounts[a],
);
---

<Layout title="Blog" description="Becky's blog" data-pagefind-ignore>
    <div class="mx-auto w-full max-w-4xl mt-5 md:mt-10 space-y-10">
        <div class="space-y-6">
            <div class="flex flex-row gap-4">
                <h1>My blog</h1>
                <span class="flex items-center gap-2 text-3xl text-tertiary">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-notebook-text-icon lucide-notebook-text"
                    >
                        <path d="M2 6h4"></path>
                        <path d="M2 10h4"></path>
                        <path d="M2 14h4"></path>
                        <path d="M2 18h4"></path>
                        <rect width="16" height="20" x="4" y="2" rx="2"></rect>
                        <path d="M9.5 8h5"></path>
                        <path d="M9.5 12H16"></path>
                        <path d="M9.5 16H14"></path>
                    </svg>
                    {allPosts.length} posts
                </span>
            </div>
            <p>
                I write here about all sorts of random topics. Feel free to
                peruse.
            </p>

            <div class="mb-8 flex flex-wrap items-center gap-2">
                <span class="whitespace-nowrap">Explore by tag:</span>
                {
                    allTags.map((tag) => (
                        <BlogTag
                            href={`/blog/tag/${slugifyStr(tag)}/`}
                            key={tag}
                        >
                            {tag} ({tagCounts[tag]})
                        </BlogTag>
                    ))
                }
            </div>
        </div>

        <BlogReel posts={allPosts} />
    </div>
</Layout>
