---
import "@/styles/global.css";
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import SearchModal from "@/components/SearchModal.astro";
import FormattedDate from "@/components/ui/FormattedDate.astro";

const {
    title,
    description,
    image,
    canonicalURL,
    frontmatter,
    slug,
    minutesRead,
} = Astro.props;
const { tags } = frontmatter as { tags?: string[] };
---

<!doctype html>
<html lang="en" class="light h-full">
    <head>
        <BaseHead
            title={frontmatter.title}
            description={frontmatter.description}
            image={image}
            canonicalURL={canonicalURL}
        />
    </head>
    <body
        class="bg-background text-foreground transition-colors min-h-screen flex flex-col"
    >
        <div
            id="scroll-progress"
            class="fixed top-0 left-0 z-50 h-1 bg-primary"
        >
        </div>
        <Navbar />
        <main class="px-4 flex-1 mx-auto w-full max-w-3xl typography">
            <!-- Main Content -->
            <h1 class="mb-2">{frontmatter.title}</h1>
            <div
                class="flex flex-wrap items-center gap-2 text-md text-foreground mb-6"
            >
                {
                    minutesRead && (
                        <span class="flex items-center gap-1 text-sm text-muted-foreground">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M12 8v4l3 3"
                                />
                                <circle
                                    cx="12"
                                    cy="12"
                                    r="10"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    fill="none"
                                />
                            </svg>
                            <span>{minutesRead}</span>
                        </span>
                    )
                }

                {
                    frontmatter.pubDate && (
                        <span class="flex items-center gap-1 text-sm text-muted-foreground whitespace-nowrap">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                                aria-hidden="true"
                            >
                                <rect
                                    x="3"
                                    y="4"
                                    width="18"
                                    height="18"
                                    rx="2"
                                    ry="2"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    fill="none"
                                />
                                <line
                                    x1="16"
                                    y1="2"
                                    x2="16"
                                    y2="6"
                                    stroke="currentColor"
                                    stroke-width="2"
                                />
                                <line
                                    x1="8"
                                    y1="2"
                                    x2="8"
                                    y2="6"
                                    stroke="currentColor"
                                    stroke-width="2"
                                />
                                <line
                                    x1="3"
                                    y1="10"
                                    x2="21"
                                    y2="10"
                                    stroke="currentColor"
                                    stroke-width="2"
                                />
                            </svg>
                            <FormattedDate date={frontmatter.pubDate} />
                        </span>
                    )
                }

                {
                    tags &&
                        tags.map((tag: string) => (
                            <span class="px-2 py-0.5 bg-muted rounded text-sm font-medium">
                                {tag}
                            </span>
                        ))
                }
            </div>

      <slot />
    </main>

    <Footer />
    <SearchModal />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* Prevent flash of unstyled content */
  html:not(.light):not(.dark) {
    visibility: hidden;
  }

  html.light,
  html.dark {
    visibility: visible;
  }
</style>

<script>
    /** scroll progress bar */
    window.addEventListener("scroll", function () {
        const scrollableHeight =
            document.documentElement.scrollHeight - window.innerHeight;
        const scrolled = window.scrollY;
        const progressBar = document.getElementById("scroll-progress");

        if (progressBar) {
            const progress = (scrolled / scrollableHeight) * 100;
            progressBar.style.width = progress + "%";
        }
    });

    /** Attach copy buttons to code blocks */
    function attachCopyButtons() {
        const copyButtonLabel = "Copy";

        const codeBlocks = Array.from(document.querySelectorAll("pre"));

    for (const codeBlock of codeBlocks) {
      const wrapper = document.createElement("div");
      wrapper.style.position = "relative";

            // Wrap <pre> with wrapper
            codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
            wrapper.appendChild(codeBlock);

            // Create copy button
            const copyButton = document.createElement("button");
            copyButton.className =
                "copy-code absolute end-3 -top-3 rounded bg-muted border border-muted px-2 py-1 text-xs leading-4 text-foreground font-medium";
            copyButton.textContent = copyButtonLabel;

            // Append copy button to wrapper
            wrapper.appendChild(copyButton);

            // Copy button handler
            copyButton.addEventListener("click", async () => {
                const code = codeBlock.querySelector("code");
                const text = code?.innerText ?? "";
                await navigator.clipboard.writeText(text);

                copyButton.textContent = "Copied";
                setTimeout(() => {
                    copyButton.textContent = copyButtonLabel;
                }, 700);
            });
        }
    }
    attachCopyButtons();
</script>
