---
const {
    logo,
    name,
    tagline,
    stack = [],
    link = "",
    statusText = "",
    description = "",
    reason = "",
} = Astro.props;
---

<section class="border border-muted border-3 px-6 py-6 rounded-md">
    <div class="flex items-center gap-3 mb-1">
        {
            logo && (
                <div class="text-2xl min-w-[2rem] min-h-[2rem] flex items-center justify-center">
                    {typeof logo === "string" && logo.startsWith("/") ? (
                        <img
                            src={logo}
                            alt={`${name} logo`}
                            class="max-h-6 max-w-6 object-contain"
                        />
                    ) : (
                        <span>{logo}</span>
                    )}
                </div>
            )
        }

        <h2
            class="flex items-center gap-3"
        >
            {
                link ? (
                    <a
                        href={link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover:underline"
                    >
                        {name}
                    </a>
                ) : (
                    <span>{name}</span>
                )
            }
        </h2>
    </div>

    {
        (statusText) && (
            <p class="text-md text-tertiary mb-4 select-none">
                {statusText}
            </p>
        )
    }

    {
        description && (
            <div class="mb-6">
                <p class="">{description}</p>
            </div>
        )
    }

    {
        reason && (
            <div class="mb-6">
                <p class="">{reason}</p>
            </div>
        )
    }

    {
        stack.length > 0 && (
            <div class="flex flex-wrap gap-2 text-sm text-foreground/80">
                {stack.map((tech: any) => (
                    <span class="bg-secondary rounded-full px-3 py-1">
                        {tech}
                    </span>
                ))}
            </div>
        )
    }
</section>
